body {
	background-color: rgb(199, 237, 204);	
}

input[type="file"] {
	color: transparent;
}

.non-arrowed {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: rgb(199, 237, 204);
	border: 0;
	font-size: 1em;
}

.monospace, .monospace-p, .monospace-form {
	font-style: normal;
	font-family: 新宋体, 宋体;
	font-size: 1em;
	font-weight: normal;
	white-space: nowrap;	
}

.monospace {
	margin-left:-0.1em;
}

.monospace-p {
	white-space: nowrap;
}